bin/Debug/net7.0/DrawingShapes.dll
bin/Debug/net7.0/DrawingShapes.pdb
obj/Debug/net7.0/DrawingShapes.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/DrawingShapes.dll
obj/Debug/net7.0/DrawingShapes.pdb
obj/Debug/net7.0/ref/DrawingShapes.dll
obj/Debug/net7.0/refint/DrawingShapes.dll
